body {
  margin:0;
  padding:0;
}
article {
  background-color: #dfdfdf;
}
aside {
  background-color: yellow;
}
aside img {
  width: 100%;
  max-width: 400px;
}
nav ul {
  list-style-type: none; 
}
nav ul li { display: inline; }

@media screen and (min-width: 400px) {
  article {
    width: 60%;
    float: left; 
  }
  aside {
    width: 30%; 
    float: right;
  }
}

@media screen and (min-width: 900px) {
  .container {
    float: left; 
    width: 75%; 
  }
  nav { 
    float: right;
    width: 20%;
  }
  nav ul {
    margin-left: -40px;
  }
  nav ul li {
    display: block; 
  }
}